if SHIELD_FORAGER_DONGLE

config ZMK_KEYBOARD_NAME
    default "FORAGER"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_FORAGER_LEFT || SHIELD_FORAGER_RIGHT || SHIELD_FORAGER_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

config ZMK_BATTERY_REPORTING
	default y
endif
